<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>usermngr</display-name>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/page/common/error500.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/WEB-INF/page/common/error505.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/page/common/error404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditIniServlet</display-name>
    <servlet-name>UserEditIniServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.UserEditIniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditIniServlet</servlet-name>
    <url-pattern>/usereditIni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearchIniServlet</display-name>
    <servlet-name>UserSearchIniServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.UserSearchIniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchIniServlet</servlet-name>
    <url-pattern>/usersearchIni</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserSearchServlet</display-name>
    <servlet-name>UserSearchServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchServlet</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ibm.etp.common.util.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ibm.etp.common.util.LogoutListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoginIniServlet</display-name>
    <servlet-name>LoginIniServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.LoginIniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginIniServlet</servlet-name>
    <url-pattern>/LoginIni</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UserAuthorityFilter</filter-name>
    <filter-class>com.ibm.etp.common.util.UserAuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAuthorityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorIniServlet</display-name>
    <servlet-name>ErrorIniServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.ErrorIniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorIniServlet</servlet-name>
    <url-pattern>/ErrorIni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Error500IniServlet</display-name>
    <servlet-name>Error500IniServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.Error500IniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error500IniServlet</servlet-name>
    <url-pattern>/Error500Ini</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserErrorIniServlet</display-name>
    <servlet-name>UserErrorIniServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.UserErrorIniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserErrorIniServlet</servlet-name>
    <url-pattern>/UserErrorIni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegIniServlet</display-name>
    <servlet-name>UserRegIniServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.UserRegIniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegIniServlet</servlet-name>
    <url-pattern>/UserRegIni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAllServlet</display-name>
    <servlet-name>LogoutAllServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.LogoutAllServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAllServlet</servlet-name>
    <url-pattern>/LogoutAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegServlet</display-name>
    <servlet-name>UserRegServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.UserRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegServlet</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditServlet</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>com.ibm.etp.servlet.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/UserEdit</url-pattern>
  </servlet-mapping>
</web-app>