<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet02</display-name>
<filter>
		<filter-name>FilterLifeCycle</filter-name>
		<filter-class>etp.filter.FilterLifeCycle</filter-class>
	</filter>
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>etp.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>etp.filter.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CharFilter</filter-name>
		<filter-class>etp.filter.CharFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterLifeCycle</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
   <servlet>
    <servlet-name>ServletA</servlet-name>
    <servlet-class>etp.urlpatterndemo.ServletA</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletB</servlet-name>
    <servlet-class>etp.urlpatterndemo.ServletB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet2A</servlet-name>
    <servlet-class>etp.urlpatterndemo.Servlet2A</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet2B</servlet-name>
    <servlet-class>etp.urlpatterndemo.Servlet2B</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>etp.urlpatterndemo.Servlet3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DefaultServlet</servlet-name>
    <servlet-class>etp.urlpatterndemo.DefaultServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletA</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletB</servlet-name>
    <url-pattern>/t</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2A</servlet-name>
    <url-pattern>/test/a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2B</servlet-name>
    <url-pattern>/test/a</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DefaultServlet</servlet-name>
    <url-pattern>/default</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>etp.login.Login</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>