<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="userDao" class="com.ibm.etp.dao.UserDaoImpl" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="loginVO" class="com.ibm.etp.vo.LoginVO"></bean>
	
	<bean id="userEditVO" class="com.ibm.etp.vo.UserEditVO"></bean>

	<bean id="loginAction" class="com.ibm.etp.action.LoginAction"
		scope="request">
		<property name="loginVO" ref="loginVO"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="logoutAction" class="com.ibm.etp.action.LogoutAction"
		scope="request">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="userEditAction" class="com.ibm.etp.action.UserEditAction"
		scope="request">
		<property name="userEditVO" ref="userEditVO"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="userRegAction" class="com.ibm.etp.action.UserRegAction"
		scope="request">
		<property name="userRegService" ref="userRegService"></property>
		<property name="userRegDTO" ref="userRegDTO"></property>
	</bean>

	<bean id="userSearchAction" class="com.ibm.etp.action.UserSearchAction"
		scope="request">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="userRegDTO" class="com.ibm.etp.dto.UserRegDTO"></bean>

	<bean id="userRegService" class="com.ibm.etp.service.UserRegService"
		scope="request">
		<property name="userDao" ref="userDao"></property>
		<property name="userRegDTO" ref="userRegDTO"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:/com/ibm/etp/hibernate/cfg/hibernate.cfg.xml"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<aop:config>
	    <!-- 申明顶级切入点 -->
		<aop:pointcut id="allServiceMethods"
			expression="execution(* com.ibm.etp.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceMethods" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="*" propagation="REQUIRED"/>
			<tx:method name="get*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="select*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>



</beans>
